*{margin: 0;
padding: 0;
box-sizing: border-box;}

.container {margin: 0 auto;
            width: 1200px;}
.containers{margin: 0 auto;
            width: 1300px;}
p{font-family: "Roboto", sans-serif;}
.img{float: left; margin: 13px 65px 14px 0px;}
.logo ul li{list-style-type: none; font-family: "Roboto", sans-serif; font-size: 14px; margin: 33px 21px 36px 21px; float: left;}
.logo ul li:nth-child(2){color: red;}
div.contact img{float: right;}
div.contact p{font-weight: 500; font-size: 14px; padding: 11px 18px; border: solid 1px; 
    border-radius: 100px 100px; margin: 23px 32px 23px 59px; float: right;}
div.contact img:first-child{border-left: solid rgba(137, 136, 136, 0.893) 1px; padding: 5px 0px 5px 23px; margin: 30px 0px 29px 0px;}
div.contact img:nth-child(2){margin: 30px 25px 29px 0px;}
div.travel{background: url(../img/wallpapers\ 2.svg) no-repeat;}
p.tourist{font-weight: bold; font-size: 128px; color: white; text-align: center; padding-top: 175px}
p.choice{font-size: 28px; color: white; text-align: center; padding-top: 60px; padding-bottom: 500px;}
.hot{font-weight: 500; font-size: 44px; margin-top: 140px;}
.moments{font-weight: light; font-size: 24px; margin-top: 16px;}
.tour{font-family: "Millanova"; font-size: 52px;color: rgb(198, 194, 194); margin: -55px -138px ;}
.city{margin: -70px 25px 70px 25px;}
.cities{margin: -70px 25px 70px 0px;}
.city1{margin: -70px 0px 70px 25px;}
.hotels{font-family: "Millanova"; font-size: 42px; color: rgb(198, 194, 194); text-align: center;margin-top: 140px; margin-bottom: -110px;}
p.popular{font-weight: 500; font-size: 44px; text-align: center;}
p.rich{font-weight: light; font-size: 24px; text-align: center;}
div.containers img{margin-top: 50px;}
div.containers img:first-child{float: left; margin-top: 70px;margin-right: 65px; width: 360px; height: 240px;}
div.containers img:last-child{float: right; margin-top: 70px; width: 360px; height: 240px;}
div.containers img:nth-child(2){margin-right: 50px; width: 444px; height: 300px;}
div.mask{background: url(../img/Maskgroup.png) no-repeat center center; margin-top: 190px; padding-top: 450px; padding-bottom: 20px}
div.mask>div.container{border: solid 1px white; border-radius: 30px; background: white; height: 130px;}
div.mask ul li{list-style-type: none; font-family: "Roboto", sans-serif; float: left;}
.mask ul>li:first-child{font-size: 24px; margin: 42px 42px 42px 80px;}
div.mask ul>li>span{font-style: italic;}
div.mask ul>li:nth-child(2){font-weight: light; font-size: 16px; margin: 42px 42px;}
div.mask ul>li:nth-child(3){font-size: 12px; margin: 42px 42px;}
div.mask ul>li>p:first-child{border-bottom: solid 1px grey; color: grey; padding-right: 118px;}
div.mask ul>li>p:nth-child(2){border-bottom: solid 1px grey; color: grey; padding-top: 10px; padding-right: 118px;}
div.mask ul>li:nth-child(4){font-weight: 500; font-size: 16px; margin: 42px 42px;}
div.mask ul>li:nth-child(4)>p{border: solid 1px red; border-radius: 100px 100px; background: red; padding: 15px 28px; color: white;}
div.reviews{margin-top: 80px; text-align: center;}
.rew{font-family: "Millanova"; font-size: 52px; color: rgb(198, 194, 194); margin-bottom: -150px;}
p.comment{font-weight: 500; font-size: 44px;}
p.impress{font-weight: light; font-size: 24px;}
div.review_1{width: 352px; height: 364px; border: solid 1px rgb(245, 245, 245); border-radius: 30px; background: rgb(245, 245, 245); float: left;}
.name{margin: 15px auto}
.star{margin-bottom: 5px;}
p.fly{font-weight: light; font-size: 12px; color: grey; text-align: center; line-height: 20px;}
p.trip{font-weight: light; font-size: 16px; text-align: left; margin-top: 27px; margin-left: 20px; color: rgb(77, 77, 77);}
p.thank{font-weight: light; font-size: 16px; text-align: left; margin: 15px 16px 42px 20px; color: rgb(77, 77, 77); line-height: 22px;}
div.review_3{width: 352px; height: 357px; border: solid 1px rgb(245, 245, 245); border-radius: 30px; background: rgb(245, 245, 245); float: right;}
div.review_3>p.thank{margin-top: 27px;}
div.review_2{width: 352px; height: 400px;border: solid 1px rgb(245, 245, 245); border-radius: 30px; background: rgb(245, 245, 245); margin: 70px auto;}

 











