.Elevate {
    height: 824px;
    background: url(../image/kitchen.png) no-repeat right top,
        url(../image/krakoziabra.png) no-repeat left top;
    background-size: 64% 100%;
    background-color: #342F2C;
    padding-top: 163px;
    padding-bottom: 152px;
}

.Elevate .container p:first-child {
    font: bold 60px Copperplate CC;
    color: white;
}

.Elevate .container div {
    background-color: #BA9E76;
    width: 117px;
    height: 5px;
    margin-top: 50px;
}

.Elevate .container p.p2 {
    font: 20px/28px Poppins, sans-serif;
    color: white;
    margin-top: 40px;
}

.Elevate .container button {
    background-color: #BA9E76;
    width: 202px;
    height: 52px;
    text-align: center;
    font: 16px OPTICopperplate;
    color: #FFFBEF;
    margin-top: 50px;
}