@font-face {
    font-family: 'Lighthaus';
    src: url('Lighthaus.eot');
    src: url('Lighthaus.eot?#iefix') format('embedded-opentype'),
        url('Lighthaus.woff2') format('woff2'),
        url('Lighthaus.woff') format('woff'),
        url('Lighthaus.ttf') format('truetype'),
        url('Lighthaus.svg#Lighthaus') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

